<div class="app">
    <header>
      <img routerLink="/aboutus" src="../assets/logo.png" class="nav_imagen">
    
      <div class="nav_navegacion">
          <a routerLink="/intranet">Intranet</a>
          <a routerLink="/folders"> Carpeta</a>
          <a *ngIf="!loged" id="login" routerLink="/login">Login</a>
          <ng-container *ngIf="loged" >
            <a id="login" routerLink="/porfile">Perfil</a>
            <a id="login" (click)="salir()">Leave</a>
          </ng-container>
      </div>
    </header>
    
    <div class="router">
        <router-outlet  ><!--Aca se muestra las paginas--></router-outlet>
    </div>
    
    <footer>
    
        <div class="footer_contenedor">
            <img routerLink="/about" class="footer_imagen" src="../assets/logo.png"/>
            <div class="customer_opcion">
    
                <h2 class="footer_titulo"> Customer Care</h2>
                <div id="porfile2">
                    <a routerLink="/porfile"> My Acount </a>
                    <a > Discount </a>
                </div>
                
            </div>
            <div class="contenedor_page">
    
                <h2 class="footer_titulo"> Pages</h2>
                <div class="page_opcion">
                    <a routerLink="/find"> Read </a>
                    <a hrouterLink="/search"> Consult </a>
                    <a routerLink="/about"> About Us </a>
                </div> 
    
            </div> 
        </div>
    
        <div class="footer_redes">
            <p><b>©EZCO - All Rights Reserved</b></p>
            <div class="footer_redes">
            
            </div>
        </div>
    
      </footer>
    </div >