button{
    font-family: inherit;
    font-size: 20px;
    background: var(--color-primario);
    color: white;
    padding: 10px;
    align-items: center;
    width: 200px;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    display: inline;
    margin: 20px auto;
}

.container{
    margin: auto;
    padding: 50px 200px;
    display: flex;
}

.right{
    margin-top:50px;
    padding: 20px;
    width: 400px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    height: min-content;
    border-radius: 20px;
    

}
.left{
    padding: 40px;
    
}
.card__post{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    height: min-content;
    padding: 40px;
    border-radius: 20px;
}

.card__post>p:first-child{
    font-size: 35px;
    color: var(--color-primario);
    margin: 0px;
    font-weight: 600;

}

.card__post>img{
    width: 100%;
}