
<div class="container">
    <div class="left">
        <div class="card__post">
            <p>Titulo</p>
            <img src="https://png.pngtree.com/background/20230612/original/pngtree-wolf-animals-images-wallpaper-for-pc-384x480-picture-image_3180467.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates sunt ad exercitationem magni, culpa veniam laudantium nostrum dicta incidunt aut ea facere atque hic unde repellat, debitis ratione eius quo.</p>
        </div>

        <div class="card__post">
            <p>Titulo</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates sunt ad exercitationem magni, culpa veniam laudantium nostrum dicta incidunt aut ea facere atque hic unde repellat, debitis ratione eius quo.</p>
        </div>
    </div>
    
    
    
    <div class="right">
        <button>Archivos</button>
        <button>Post</button>
    
    </div>
</div>
