
<div class="container">
    <div class="left">
        <div *ngFor="let post of posts" class="card__post" routerLink="/post/{{post._id}}">
            <p>{{post.title}}</p>
            <img src="http://localhost:3000/public/{{ post.images[0] }}" alt="">
            <p>{{post.description}}</p>
        </div>

    </div>
    
    
    
    <div class="right">
        <button routerLink="/folder/6540565607a77321ce07e16d">Archivos</button>
        <button routerLink="/create">Post</button>
    
    </div>
</div>
