<ng-container *ngIf="agr">
  <div (click)="change(false)" class="background"></div>
  <div class="form">
    <h2>Carpeta</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta amet a
      maiores eius officiis. Voluptates aliquam enim possimus, assumenda aliquid
      dolorem soluta dolor non expedita! Aliquid officiis suscipit hic et!
    </p>
    <input type="text" id="name" placeholder="Nombre "/>
    <input class="input-img" accept="image/png, image/jpeg" id="file" type="file" />

    <div class="edit" >
      <button *ngIf="edit" (click)="delete()">Eliminar</button>
      <button  (click)="create1()">Continuar</button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="agr2">
  <div class="form">
    <h2>Permisos carpeta</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta amet a
      maiores eius officiis. Voluptates aliquam enim possimus, assumenda aliquid
      dolorem soluta dolor non expedita! Aliquid officiis suscipit hic et!
    </p>

    <div class="option">
      <label for="rol">Escoge rol:</label>
      <select id="rol">
        <option *ngFor="let rol of rols" value="{{ rol._id }}">
          {{ rol.name }}
        </option>
      </select>
      <button (click)="addrol()" class="option__button">Agregar</button>
      <div>
        <div class="data">
            <div *ngFor="let rol of arols">
              <p>{{ rol.name }}</p>
              <i (click)="removerol(rol._id)" class="material-icons">remove</i>
            </div>
          </div>
      </div>

    </div>
    <div class="option">
      <label for="user">Agregar usuario</label>
      <select id="user">
        <option *ngFor="let user of users" value="{{ user._id }}">
          {{ user.name }}
        </option>
      </select>
      <button (click)="adduser()" class="option__button">Agregar</button>
      <div>
        <div class="data">
            <div *ngFor="let user of ausers">
              <p>{{ user.name }}</p>
              <i (click)="removeuser(user._id)" class="material-icons ">remove</i>
            </div>
          </div>
      </div>

    </div>

    <button *ngIf="!edit" (click)="create()">Crear</button>
    <div class="edit" *ngIf="edit">
      <button (click)="put()">Guardar</button>
    </div>
  </div>
</ng-container>

<div class="principal">
  <input (keyup)="search()" type="text" name="" id="search" />
  <button (click)="change(false)">Crear</button>
</div>

<div class="gridresult">
  <div *ngFor="let folder of afolders" class="card_folder">
    <img src="http://localhost:3000/public/{{ folder.image }}" alt="" routerLink="/folder/{{folder._id}}"/>
    <p>{{ folder.name }}</p>
    <i *ngIf="folder.owner==id" (click)="change(true,folder._id)" class="material-icons">more_vert</i>
  </div>
</div>
