
<section class="">

    <article class="article1">
        
        <div>
            <h1>
                Take care of your<br>mental health
            </h1>
        
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed <br>
                do eiusmod tempor incididunt ut labore et dolore magna <br>
                aliqua. Ut enim ad minim veniam, quis nostrud exercit <br>
            </p>

        
        </div>

        <img src="../../../assets/img1.png" alt="">

    </article>


    <article class="article3">
        <img src="../../../assets/img2.png" alt="">

        <div>
            <h2>
                Articles about risky situations in your life
            </h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, seddo eiusmod tempor incididunt ut labore et dolore magna incididunt ut labore et dolore magna </p>
        </div>

    </article>

    <article class="article4">

        <div>
            <h2>
                Join to change lives
            </h2>
            <hr>
            <p>OLorem ipsum dolor sit amet, consectetur adipiscing elit, seddo eiusmod tempor incididunt ut labore et dolore magna incididunt ut labore et dolore magna </p>
        </div>

        <img src="../../../assets/img3.png" alt="">
        
    </article>

    <article class="article5">
        <div class="carrusel">
            
        </div>
    </article>    

</section>
