.principal{
    margin: auto;
    padding: 100px 200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.principal>h2{
    font-size: 50px;
    margin: 0px;
}

button{
        font-family: inherit;
        font-size: 20px;
        background: var(--color-primario);
        color: white;
        padding: 10px;
        align-items: center;
        width: 200px;
        border: none;
        border-radius: 16px;
        overflow: hidden;
        transition: all 0.2s;
        margin: 0px 20px;
}


.gridresult{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    padding: 0px 200px 100px 200px;
    text-align: center;
    gap: 30px 0px;
}

.gridresult__title{
    color: var(--color-primario);
    font-size: 25px;
    font-weight: 700;
}