<div class="principal">
    <h2>Files</h2>
    <button>Crear</button>
</div>

<div class="gridresult">
    <p class="gridresult__title">Codigo</p>
    <p class="gridresult__title">Fecha</p>
    <p class="gridresult__title">Creador</p>
    <p class="gridresult__title">Descargar</p>
    <!---->
    <p>Lorem</p>
    <p>Lorem</p>
    <p>Lorem</p>
    <button>Descargar</button>
    <p>Lorem</p>
    <p>Lorem</p>
    <p>Lorem</p>
    <button>Descargar</button>
    <p>Lorem</p>
    <p>Lorem</p>
    <p>Lorem</p>
    <button>Descargar</button>
    <p>Lorem</p>
    <p>Lorem</p>
    <p>Lorem</p>
    <button>Descargar</button>
</div>